{% extends 'base.html.twig' %}

{% block title %}Departement index{% endblock %}

{% block body %}
    <h1>Departement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_dept</th>
                <th>Service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td>{{ departement.id }}</td>
                <td>{{ departement.idDept }}</td>
                <td>{{ departement.Service }}</td>
                <td>
                    <a href="{{ path('app_departement_show', {'id': departement.id}) }}">show</a>
                    <a href="{{ path('app_departement_edit', {'id': departement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_departement_new') }}">Create new</a>
{% endblock %}
